<p id="notice"><%= notice %></p>

<p>
  <strong>Lecture ID:</strong>
  <%= @lecture.id %>
</p>

<p>
  <strong>Lecture name:</strong>
  <%= @lecture.lecture_name %>
</p>

<p>
  <strong>Lecture content:</strong>
  <%= @lecture.lecture_content %>
</p>

<p>
  <strong>Video link:</strong>
  <%= @lecture.video_link %>
</p>

<p>
  <strong>CarrotU Session:</strong>
  <%= @lecture.course_session_id %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @lecture.teacher_id %>
</p>

<p>
  <strong>Homework:</strong>
  <% if (@lecture.homework_id != nil) %>
    <%= @lecture.homework.content %>
  <% else %>
    <%= link_to 'Add Homework', new_homework_path(@lecture.id) %>
  <% end %>
</p>

<%= link_to 'Edit', edit_lecture_path(@lecture) %> |
<%= link_to 'Back', course_session_path(@lecture.course_session_id) %>
