<div class="container mb-auto py-3 text-center">
  <h1>Users</h1>
</div>

<div class="container mx-auto">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Admin</th>
        <th colspan="2">Update Admin Privileges</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do | u| %>
        <tr>
          <td><%= u.id %></td>
          <td><%= u.email %></td>
          <td><%= u.admin %></td>
          <td><%= link_to "Approve",make_admin_path(u),:remote=>true,:method=>"PUT" if !u.admin %></td>
          <td><%= link_to "Revoke",revoke_admin_path(u),:remote=>true,:method=>"PUT" if u.admin %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
