<div class="container mb-auto py-3 text-center">
  <h2>Users</h2>
</div>

<div class="container mx-auto">
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Admin?</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |u| %>
        <tr>
          <td><%= u.id %></td>
          <td><%= u.email %></td>
          <td><button class="badge badge-light"><%= u.admin %></td>
          <td>
            <%= link_to "Approve", make_admin_path(u), class: "btn btn-success", :remote=>true,:method=>"PUT" if !u.admin %>
            <%= link_to "Revoke", revoke_admin_path(u), class: "btn btn-danger", :remote=>true,:method=>"PUT" if u.admin %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
