<div class="home-container text-center">
  <header class="masthead mb-auto py-3">
    <div>
      <h3 class="masthead-brand">CarrotU</h3>
      <% if logged_in? %>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="#">Home</a>
        <%= link_to "Course Sessions", course_sessions_path, class: "nav-link", role: "article", id: "sessions" %>
        <a class="nav-link" href="#">Apply</a>
        <%= link_to "Sign up to be a mentor",new_mentor_path, class: "nav-link", role: "article", id: "sessions"  %>
      </nav>
      <% else %>
        <p>test</p>
      <% end %>
    </div>
  </header>
  <span><p><%= @quote %></p></span>
  <main role="main" class="content">
    <%= image_tag ("logo.png")%>
    <p class="lead">Instacart's In-House Coding Bootcamp</p>
    <p class="lead">
      <%= link_to "Sign in", login_url, class: "btn btn-lg btn-secondary", role: "button", id: "sign_in" if !logged_in? %>
    </p>
  </main>
</div>
