<%= form_with(model: application_question, local: true) do |form| %>
  <div class="form-group">
    <%= form.label :text, 'Question' %>
    <% if application_question.errors.first &&  application_question.errors.first[0] == :text %>
      <%= form.text_field :text, required: true, class: 'form-control is-invalid', id: 'questionInput', placeholder: 'Enter Question' %>
      <div class="invalid-feedback d-block">
        <%= application_question.errors.first.join(' ') %>
      </div>
    <% else %>
        <%= form.text_field :text, required: true, class: 'form-control', id: 'questionInput', placeholder: 'Enter Question' %>
    <%end%>

    <small id="questionHelp" class="form-text text-muted">This quesion will be used in an application form.</small>
  </div>

  <div class="form-group">
    <%= form.label :role, 'Role' %>
    <%= form.select(:role, [['Student', 'student'], ['Mentor', 'mentor']]) %>
    <small id="roleHelp" class="form-text text-muted">Is this for student or mentor application?</small>
  </div>

  <div class="custom-control custom-checkbox form-check">
    <%= form.check_box :current, class: "custom-control-input", id:"current" %>
    <label class="custom-control-label" for="current">Is Current</label>
    <small id="currentHelp" class="form-text text-muted">Is this currently selected to be used in an application form?</small>
  </div>

  <div class="row justify-content-center">
      <%= submit_tag 'Submit', class: "btn btn-primary px-3 mr-3 w-25" %>
      <%= link_to 'Cancel', application_questions_path, class: "btn btn-light px-3 w-25" %>
  </div>
  
<% end %>
