<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Text</th>
      <th>Role name</th>
      <th>Current</th>
      <th>Created at</th>
      <th>Updated at</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @application_questions.each do |question| %>
      <tr>
        <td><%= question.id %></td>
        <td><%= question.text %></td>
        <td><%= question.role %></td>
        <td><%= question.current %></td>
        <td><%= question.created_at %></td>
        <td><%= question.updated_at %></td>
        <td><%= link_to 'Update', edit_application_question_path(question), method: :get %></td>
        <td><%= link_to 'Destroy', application_question_path(question), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Application Question', new_application_question_path %>
