<% if @is_mentor %>
  <p class="notice"> You have already signed up </p>
<% end %>

<%= form_with(model: mentor, local: true) do |form| %>
  <% if mentor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mentor.errors.count, "error") %> prohibited this mentor from being saved:</h2>

      <ul>
        <% mentor.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card p-5" style="width: 48rem;">
    <div class="form-group">
      <%= form.label :first_name, class: "input-group mb-3" %>
      <%= form.text_field :first_name, class: "form-control", value: @mentor.first_name || current_user.first_name %>
    </div>

    <div class="form-group">
      <%= form.label :last_name, class: "input-group mb-3" %>
      <%= form.text_field :last_name, class: "form-control", value: @mentor.last_name || current_user.last_name %>
    </div>

    <div class="form-group">
      <%= form.label :email, class: "input-group mb-3" %>
      <%= form.text_field :email, class: "form-control", value: @mentor.email || current_user.email %>
    </div>

    <div class="form-group">
      <%= form.label :manager_name, class: "input-group mb-3" %>
      <%= form.text_field :manager_name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :manager_email, class: "input-group mb-3" %>
      <%= form.text_field :manager_email, class: "form-control" %>
    </div>

    <div class="form-group form-check">
      <%= form.check_box :is_active, class: "form-check-input" %>
      <%= form.label :is_active %>
    </div>

    <div class="form-group form-check">
      <%= form.check_box :is_approved, class: "form-check-input" %>
      <%= form.label :is_approved %>
    </div>

    <div class="form-group">
      <%= form.label :skills, class: "input-group mb-3" %>
      <%= form.text_area :skills, class: "form-control" %>
    </div>

    <div class="actions">
      <%= form.submit class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
