<p id="notice"><%= notice %></p>

<div class="container mb-auto py-3 text-center">
  <h2>Mentors</h2>
</div>

<p><%= link_to 'New Mentor', new_mentor_path, class: "btn btn-primary" %></p>

<table class="table">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Manager name</th>
      <th>Manager email</th>
      <th>Is active</th>
      <th>Is approved</th>
      <th>Skills</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @mentors.each do |mentor| %>
      <tr>
        <td><%= mentor.first_name %></td>
        <td><%= mentor.last_name %></td>
        <td><%= mentor.email %></td>
        <td><%= mentor.manager_name %></td>
        <td><%= mentor.manager_email %></td>
        <td><%= mentor.is_active %></td>
        <td><%= mentor.is_approved %></td>
        <td><%= mentor.skills %></td>
        <td>
          <%= link_to 'Edit', edit_mentor_path(mentor), class: "btn btn-info" %>
          <%= link_to 'Destroy', mentor, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

