<%= form_with(model: course_session, local: true) do |form| %>
  <% if course_session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course_session.errors.count, "error") %> prohibited this lecture from being saved:</h2>

      <ul>
        <% course_session.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="card p-5" style="width: 48rem;">
    <div class="form-group">
      <%= form.label :name, class: "input-group mb-3" %>
      <%= form.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :description, class: "input-group mb-3" %>
      <%= form.text_field :description, class: "form-control" %>
    </div>

    <div class="form_group">
      <%= form.label :status, class: "input-group mb-3" %>
      <%= form.select :status, CourseSession.statuses, {}, class: "form-control mb-3 form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :start_date, class: "input-group mb-3" %>
      <%= form.date_field :start_date, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :end_date, class: "input-group mb-3" %>
      <%= form.date_field :end_date, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :repository_link, class: "input-group mb-3" %>
      <%= form.text_field :repository_link, class: "form-control" %>
    </div>

    <div class="actions">
      <%= form.submit class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
