<div class="container mb-auto py-3 text-center">
  <h1>CarrotU Sessions</h1>
</div>

<div class="container mx-auto">
  <p id="notice"><%= notice %></p>
  <% @course_sessions.each do |course_session| %>
    <div class="card bg-white mb-3" style="max-width: 100rem;">
      <div class="card-header">
        <%= course_session.name %>
        <%= link_to fa_icon("trash"), course_session, class: "float-right px-3", method: :delete, data: { confirm: 'Are you sure?' } if @current_user.admin %>
        <%= link_to fa_icon("edit"), edit_course_session_path(course_session), class: "float-right" if @current_user.admin %>
        <%= content_tag(:span, course_session.status, class: course_session.status_badge) %>
      </div>
      <div class="card-title p-3">
        <h5><%= "Starts " + course_session.start_to_s if course_session.start_date %></h5>
      </div>
      <div class = "card-body px-3 py-1">
        <%= link_to fa_icon("github") + " View Github Repository", course_session.repository_link, class: "float-left" if course_session.repository_link? %>
        <%= link_to "View Session Details", course_session_path(course_session), class: "float-right" %>
      </div>
    </div>
  <% end %>

  <% if @current_user.admin %>
    <div class = "card px-3 py-3 mb-3">
      <%= link_to '+ Add Course Session', new_course_session_path %>
    </div>
  <% end %>
</div>
