<p id="notice"><%= notice %></p>
<div class="" style="border:1px solid black;">
  <p>
    <strong>Session Name:</strong>
    <%= @course_session.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @course_session.description %>
  </p>

  <p>
    <strong>Start Date:</strong>
    <%= @course_session.start_date %>
  </p>

  <p>
    <strong>End Date:</strong>
    <%= @course_session.end_date %>
  </p>

  <p>
    <strong>Github Repository:</strong>
    <%= @course_session.repository_link %>
  </p>

  <%= link_to 'Edit', edit_course_session_path(@course_session) %> |
  <%= link_to 'Back', course_sessions_path %>
</div>

<br></br>

  <div class="container mx-auto">
    <% @course_session.lectures.each do |lecture| %>
      <div class="card bg-white mb-3" style="max-width: 100rem;">
        <div class="card-header">
          <%= lecture.lecture_name %>
          <%= link_to fa_icon("trash"), lecture, class: "float-right px-3", method: :delete, data: { confirm: 'Are you sure?' }  %>
          <%= link_to fa_icon("edit"), edit_lecture_path(lecture), class: "float-right" %>
        </div>
        <div class="card-title p-3">
          <h5><%= lecture.lecture_content %></h5>
        </div>
        <div class = "card-body px-3 py-0">
          <p>Lecture video: <%= link_to "View", lecture.video_link %></p>
          <% if lecture.has_homework? %>
            <%= link_to lecture.homework.content, homework_path(lecture.homework) %>
          <% else %>
            <%= link_to 'Add Homework', new_homework_path(lecture.id) %>
          <% end %>
        </div>
      </div>
    <% end %>

      <div class = "card px-3 py-3 mb-3">
        <%= link_to '+ Add Lecture', new_lecture_path(@course_session.id) %>
      </div>
  </div>
