<div class="container mb-auto py-3 text-center">
    <h1><%= @course_session.name %></h1>
    <h3><%= @course_session.description %></h3>
    <%= link_to fa_icon("github"), @course_session.repository_link %> |
    <% if @current_user.admin %>
      <%= link_to 'Edit', edit_course_session_path(@course_session) %> |

    <% end %>
    <%= link_to 'Back', course_sessions_path %>
</div>

<div class="container mx-auto">
  <p id="notice"><%= notice %></p>
  <% @course_session.lectures.order('schedule_date ASC').each do |lecture| %>
    <div class="card mb-3" style="max-width: 100rem;">
      <div class="row no-gutters">
        <div class="col-md-2 bg-secondary text-center d-flex flex-column justify-content-center text-light">
          <%= fa_icon (lecture.topic_icon + " 4x"), class: "mx-auto my-2 text-light" if lecture.topic? %>
          <h5><%= lecture&.topic %></h5>
        </div>
        <div class="col-md-10">
          <div class="card-body">
            <h5>
              <%= lecture.lecture_name %>
              <% if @current_user.admin %>
                <%= link_to fa_icon("trash"), lecture, class: "float-right px-3", method: :delete, data: { confirm: 'Are you sure?' } %>
                <%= link_to fa_icon("edit"), edit_lecture_path(lecture), class: "float-right" %>
              <% end %>
            </h5>
            <p class="card-text"><%= lecture.lecture_content %></p>
            <p class="text-left"></p>
            <% if lecture.has_homework? %>
              <%= link_to lecture.homework.content, homework_path(lecture.homework), class: "float-right" %>
            <% else %>
              <%= link_to 'Add Homework', new_homework_path(lecture.id), class: "float-right" if @current_user.admin %>
            <% end %>
            <p class="card-text">
              <small class="text-muted"><%= "Lecture Date: " + lecture.scheduled_for_local if lecture.schedule_date? %></small>
              <%= link_to "View Lecture", lecture&.video_link, class: "pr-2" if lecture.video_link? %>
            </p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <% if @current_user.admin %>
    <div class = "card px-3 py-3 mb-3">
      <%= link_to '+ Add Lecture', new_lecture_path(@course_session.id) %>
    </div>
  <% end %>
</div>
