<div class="container mb-auto py-3 text-center">
    <h1><%= @course_session.name %></h1>
    <h3><%= @course_session.description %></h3>
    <%= link_to fa_icon("github"), @course_session.repository_link %> |
    <% if @current_user.admin %>
      <%= link_to 'Edit', edit_course_session_path(@course_session) %> |

    <% end %>
    <%= link_to 'Back', course_sessions_path %>
</div>

<div class="container mx-auto">
  <p id="notice"><%= notice %></p>
  <% @course_session.lectures.each do |lecture| %>
    <div class="card bg-white mb-3" style="max-width: 100rem;">
      <div class="card-header">
        <%= lecture.lecture_name %>
        <% if @current_user.admin %>
          <%= link_to fa_icon("trash"), lecture, class: "float-right px-3", method: :delete, data: { confirm: 'Are you sure?' } %>
          <%= link_to fa_icon("edit"), edit_lecture_path(lecture), class: "float-right" %>
        <% end %>
      </div>
      <div class="card-title p-3">
        <h5><%= lecture.lecture_content %></h5>
      </div>
      <div class = "card-body px-3 py-1">
        <%= link_to "View Lecture", lecture.video_link, class: "float-left" if lecture.video_link != '' %>
        <% if lecture.has_homework? %>
          <%= link_to lecture.homework.content, homework_path(lecture.homework), class: "float-right" %>
        <% else %>
          <%= link_to 'Add Homework', new_homework_path(lecture.id), class: "float-right" if @current_user.admin %>
        <% end %>
      </div>
    </div>
  <% end %>
  <% if @current_user.admin %>
    <div class = "card px-3 py-3 mb-3">
      <%= link_to '+ Add Lecture', new_lecture_path(@course_session.id) %>
    </div>
  <% end %>
</div>
