<%= form_with(model: homework, local: true) do |form| %>
  <% if homework.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(homework.errors.count, "error") %> prohibited this homework from being saved:</h2>

      <ul>
        <% homework.errors.full_messages.each do |message| %>
         <li><%= message %></li>
       <% end %>
     </ul>
   </div>
  <% end %>
  
  <div class="field">
    <%= form.label :lecture_id, value: params[:format] %>
  </div>
  
  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :homework_content %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="field">
    <%= form.label :due_date %>
    <%= form.date_select :dute_date, :order => [:month, :day, :year] %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
