<%= form_with(model: homework, local: true) do |form| %>
  <% if homework.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(homework.errors.count, "error") %> prohibited this homework from being saved:</h2>

      <ul>
        <% homework.errors.full_messages.each do |message| %>
         <li><%= message %></li>
       <% end %>
     </ul>
   </div>
  <% end %>
  
  <div class="field">
    <%= form.hidden_field :lecture_id, value: params[:format] %>
  </div>
  
<div class="card p-5" style="width: 48rem;">
    <div class="form-group">
      <%= form.label :content, class: "input-group mb-3" %>
      <%= form.text_field :content, class: "form-control" %>
    </div>
    
    <div class="form-group">
      <%= form.label :status, class: "input-group mb-3" %>
      <%= form.text_field :status, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :due_date, class: "input-group mb-3" %>
      <%= form.date_field :due_date, class: "form-control" %>
    </div>

    <div class="actions">
      <%= form.submit class: "btn btn-primary"%>
    </div>
  <% end %>
</div>
