<div class="container mx-auto">
    <p id="notice"><%= notice %></p>
    <div class="card bg-white mb-3" style="max-width: 100rem;">
        <div class="card-header">
            Lecture: <%= @homework.get_lecture_name %>
            <% if @current_user.admin %>
                <%= link_to fa_icon("edit"), edit_homework_path(@homework), class: "float-right px-3" %>
            <% end %>
        </div>
        <div class="card-title p-3">
            <h5>Assignment:</h5> 
            <p class="text=left">
                <%= @homework.content %>
            </p>
            <p class="text-left">
                <strong>Status:</strong>
                <%= @homework.status %>
            </p>
            <p class="text-left">
                <strong>Due Date:</strong>
                <%= @homework.due_date_to_s %>
            </p>
        </div>
    </div>
    <div class = "card px-3 py-3 mb-3">
        <%= link_to 'Submit Homework', new_homework_submission_path(@homework.id), class: "btn btn-primary" %>
    </div>
</div>


<%= link_to 'Back', course_session_path(@homework.get_course_session_id) %>
