<!DOCTYPE html>
<html>
<head>
  <title>Carrot University</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <%= stylesheet_link_tag 'application', 'home', 'sessions_lectures', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body class="d-flex flex-column h-100" style="padding-top: 100px">
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="#"><%= image_tag ("logo.png"), width: 64 %>Carrot University</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <%= controller_name == "welcome" ? "active" : "" %>">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item <%= controller_name == "help" ? "active" : "" %>">
        <a class="nav-link" href="/help/index">About</a>
      </li>
      <li class="nav-item dropdown <%= controller_name == "students" ? "active" : "" %>">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Students
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Apply</a>
          <a class="dropdown-item" href="/help/index#students">FAQ</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Schedule</a>
          <a class="dropdown-item" href="#">Syllabus</a>
          <a class="dropdown-item" href="#">Assignments</a>
        </div>
      </li>
      <li class="nav-item dropdown <%= controller_name == "mentors" ? "active" : "" %>">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Mentors
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="<%= new_mentor_path %>">Volunteer</a>
          <a class="dropdown-item" href="/help/index#mentors">FAQ</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Mentees</a>
        </div>
      </li>
      <li class="nav-item dropdown <%= controller_name == "admins" ? "active" : "" %>">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Admins
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="<%= course_sessions_path %>">Course sessions</a>
          <a class="dropdown-item" href="<%= admins_path %>">Users</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <% if logged_in? %>
        <a href="<%= user_show_path(current_user) %>">
          <%= image_tag current_user&.gravatar_url, class: "rounded-circle", style: "width: 49px; height: 48px;" %>
        </a>
        <%= link_to "Sign out", signout_url, class: "btn btn-sm btn-secondary float-right pr-2", role: "button", id: "sign_in" if logged_in? %>
      <% else %>
        <%= link_to "Sign in", login_url, class: "btn btn-lg btn-primary", role: "button", id: "sign_in" if !logged_in? %>
      <% end %>
    </form>
  </div>
</nav>
<div class="content">
  <%= yield %>
</div>
<footer class="mastfoot mt-auto">
  &copy 2020 Carrot University
</footer>
</body>
</html>
