<!DOCTYPE html>
<html>
  <head>
    <title>CarrotUAdmin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', 'home', 'sessions_lectures', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column h-100">
    <div class="home-container text-center">
      <header class="masthead mb-auto py-3">
        <div>
          <h3 class="masthead-brand">CarrotU</h3>
          <% if logged_in? %>
          <nav class="nav nav-masthead justify-content-center">
            <%= link_to "Home", root_path,  class: "nav-link", role: "article", id: "home" %>
            <%= link_to "Course Sessions", course_sessions_path, class: "nav-link", role: "article", id: "sessions" %>
            <a class="nav-link" href="#">Apply</a>
            <%= link_to "Sign up to be a mentor",new_mentor_path, class: "nav-link", role: "article", id: "mentors"  %>
            <%= link_to "Edit Users", users_path, class: "nav-link", role: "article", id: "users" %>
            <%= link_to "Admins", admins_path, class: "nav-link", role: "article", id: "admins" %>
          </nav>
          <% else %>
            <p>test</p>
          <% end %>
        </div>
      </header>
      <%= yield %>
    </div>
    <footer class="mastfoot mt-auto">
      <%= image_tag current_user&.gravatar_url, class: "rounded-circle", style: "width: 25px; height: 25px;" %>
      <%= link_to "Logged in as: " + current_user&.email, user_show_path(current_user) %>
    </footer>
  </body>
</html>
